In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("../dataset/data_cleaned.csv")

In [7]:
df = df[["start_date_time", "start_station_name"]]

In [11]:
df["start_date_time"] = df["start_date_time"].str[:2]

C:\Users\zhaow\AppData\Local\Temp/ipykernel_6876/327302219.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["start_date_time"] = df["start_date_time"].str[:2]

In [62]:
sr = df.groupby(["start_date_time", "start_station_name"]).size()

In [63]:
hours = df["start_date_time"].unique()
stations = df["start_station_name"].unique()
data = {i:[] for i in hours}
for i in hours:
    for j in stations:
        if (i, j) not in sr.index:
            data[i].append(0)
        else:
            data[i].append(sr[i][j])
data

{'00': [10,
  29,
  24,
  13,
  11,
  5,
  9,
  32,
  17,
  10,
  10,
  9,
  15,
  32,
  36,
  35,
  21,
  14,
  11,
  9,
  34,
  2,
  24,
  16,
  19,
  14,
  4,
  10,
  11,
  9,
  22,
  10,
  1,
  0,
  39,
  0,
  3,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  13,
  0,
  0,
  0,
  10,
  4,
  0,
  0,
  0,
  0,
  0],
 '01': [3,
  7,
  5,
  6,
  6,
  4,
  8,
  29,
  17,
  3,
  3,
  3,
  13,
  8,
  9,
  13,
  16,
  6,
  7,
  3,
  10,
  4,
  15,
  15,
  4,
  6,
  0,
  2,
  3,
  6,
  15,
  3,
  0,
  0,
  8,
  2,
  3,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  7,
  0,
  0,
  0,
  9,
  4,
  0,
  0,
  0,
  0,
  0],
 '02': [2,
  7,
  2,
  2,
  1,
  1,
  1,
  17,
  22,
  4,
  2,
  2,
  4,
  9,
  4,
  8,
  3,
  3,
  11,
  3,
  5,
  4,
  9,
  27,
  2,
  8,
  0,
  1,
  6,
  4,
  5,
  1,
  0,
  0,
  2,
  0,
  2,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  8,
  1,
  0,
  0,
  0,
  0,
  2],
 '09': [160,
  421,
  270,
  244,
  625,
  103,
  399,
  471,
  181,
  689,
  695,
  408,
  589,
  489,
  301,
  346,
  902,
  534,
  458,
  304,
  483,
  432,
  534,
  747,
  354,
  208,
  39,
  347,
  136,
  39,
  201,
  136,
  605,
  12,
  205,
  278,
  37,
  153,
  4,
  1,
  3,
  1,
  4,
  2,
  0,
  120,
  0,
  1,
  0,
  1,
  1,
  0,
  6,
  0,
  1,
  0,
  1,
  1,
  1,
  0,
  267,
  9,
  0,
  2,
  108,
  182,
  1,
  0,
  0,
  0,
  1],
 '10': [95,
  275,
  131,
  177,
  281,
  123,
  261,
  277,
  195,
  350,
  412,
  89,
  270,
  373,
  208,
  274,
  330,
  224,
  326,
  244,
  270,
  140,
  429,
  302,
  165,
  215,
  8,
  194,
  145,
  45,
  204,
  137,
  122,
  4,
  146,
  98,
  26,
  29,
  1,
  7,
  4,
  0,
  6,
  6,
  1,
  15,
  0,
  1,
  0,
  3,
  0,
  1,
  5,
  0,
  0,
  0,
  1,
  2,
  2,
  0,
  128,
  2,
  0,
  0,
  108,
  144,
  0,
  0,
  0,
  0,
  0],
 '11': [70,
  269,
  127,
  290,
  154,
  185,
  288,
  308,
  152,
  297,
  227,
  191,
  225,
  249,
  183,
  321,
  255,
  211,
  257,
  226,
  227,
  120,
  258,
  274,
  239,
  155,
  7,
  171,
  179,
  150,
  109,
  153,
  37,
  1,
  174,
  12,
  30,
  14,
  2,
  2,
  1,
  1,
  0,
  2,
  3,
  2,
  1,
  1,
  0,
  8,
  0,
  0,
  9,
  1,
  0,
  0,
  1,
  5,
  1,
  0,
  121,
  2,
  1,
  3,
  131,
  53,
  2,
  0,
  0,
  0,
  0],
 '12': [88,
  403,
  206,
  382,
  147,
  178,
  334,
  284,
  188,
  342,
  302,
  220,
  222,
  233,
  272,
  402,
  189,
  240,
  303,
  225,
  225,
  172,
  173,
  289,
  366,
  175,
  6,
  125,
  292,
  100,
  138,
  137,
  7,
  4,
  184,
  11,
  35,
  11,
  10,
  2,
  6,
  0,
  12,
  2,
  1,
  10,
  0,
  6,
  0,
  6,
  4,
  0,
  3,
  6,
  0,
  0,
  3,
  8,
  0,
  3,
  201,
  8,
  0,
  4,
  159,
  39,
  1,
  0,
  2,
  0,
  0],
 '13': [95,
  268,
  300,
  453,
  148,
  152,
  267,
  283,
  177,
  259,
  230,
  137,
  167,
  225,
  363,
  300,
  167,
  150,
  333,
  182,
  179,
  212,
  182,
  225,
  249,
  196,
  7,
  82,
  159,
  78,
  143,
  159,
  10,
  8,
  336,
  11,
  18,
  8,
  2,
  0,
  5,
  1,
  10,
  4,
  2,
  2,
  1,
  1,
  1,
  3,
  1,
  1,
  2,
  1,
  0,
  11,
  1,
  4,
  2,
  8,
  141,
  5,
  1,
  2,
  178,
  64,
  0,
  2,
  0,
  0,
  0],
 '14': [64,
  292,
  205,
  284,
  145,
  155,
  239,
  272,
  122,
  205,
  181,
  130,
  121,
  217,
  269,
  266,
  147,
  146,
  200,
  160,
  190,
  137,
  154,
  168,
  187,
  133,
  15,
  59,
  137,
  85,
  126,
  146,
  11,
  1,
  276,
  3,
  18,
  6,
  0,
  5,
  5,
  0,
  9,
  5,
  1,
  6,
  1,
  1,
  1,
  5,
  0,
  0,
  3,
  3,
  0,
  0,
  1,
  4,
  5,
  0,
  84,
  10,
  0,
  0,
  168,
  79,
  1,
  2,
  0,
  0,
  1],
 '15': [54,
  293,
  215,
  241,
  236,
  189,
  238,
  269,
  148,
  227,
  164,
  156,
  113,
  232,
  307,
  342,
  151,
  124,
  235,
  168,
  221,
  116,
  114,
  156,
  231,
  138,
  12,
  85,
  203,
  104,
  149,
  163,
  7,
  2,
  211,
  7,
  26,
  22,
  1,
  7,
  23,
  2,
  3,
  2,
  0,
  1,
  4,
  8,
  0,
  21,
  3,
  0,
  7,
  8,
  0,
  2,
  10,
  6,
  5,
  1,
  95,
  7,
  1,
  3,
  213,
  51,
  4,
  0,
  0,
  0,
  0],
 '16': [53,
  440,
  249,
  326,
  329,
  330,
  272,
  261,
  221,
  320,
  198,
  223,
  169,
  335,
  357,
  579,
  137,
  257,
  591,
  236,
  277,
  98,
  137,
  237,
  345,
  135,
  26,
  64,
  212,
  164,
  196,
  251,
  5,
  4,
  316,
  4,
  32,
  7,
  1,
  128,
  190,
  2,
  29,
  3,
  0,
  2,
  4,
  48,
  1,
  144,
  14,
  0,
  32,
  25,
  3,
  2,
  36,
  44,
  34,
  0,
  153,
  3,
  1,
  15,
  191,
  89,
  23,
  1,
  0,
  0,
  0],
 '17': [87,
  545,
  671,
  502,
  445,
  453,
  472,
  528,
  437,
  496,
  225,
  428,
  170,
  566,
  523,
  716,
  185,
  139,
  690,
  470,
  1089,
  242,
  155,
  387,
  575,
  186,
  15,
  83,
  441,
  344,
  342,
  374,
  7,
  1,
  449,
  5,
  47,
  6,
  0,
  130,
  215,
  141,
  28,
  0,
  0,
  8,
  8,
  43,
  0,
  158,
  11,
  0,
  6,
  25,
  1,
  4,
  96,
  46,
  10,
  0,
  383,
  5,
  1,
  25,
  228,
  121,
  4,
  0,
  0,
  1,
  1],
 '18': [49,
  462,
  544,
  389,
  277,
  232,
  467,
  528,
  324,
  476,
  299,
  473,
  227,
  822,
  452,
  641,
  240,
  138,
  602,
  425,
  1520,
  286,
  164,
  482,
  535,
  192,
  11,
  65,
  286,
  245,
  259,
  295,
  14,
  0,
  275,
  8,
  50,
  7,
  3,
  49,
  140,
  17,
  46,
  0,
  0,
  11,
  2,
  10,
  2,
  65,
  7,
  0,
  0,
  21,
  0,
  1,
  88,
  8,
  7,
  0,
  275,
  9,
  2,
  9,
  185,
  105,
  0,
  0,
  0,
  1,
  0],
 '19': [36,
  265,
  252,
  281,
  125,
  153,
  308,
  431,
  234,
  257,
  215,
  295,
  141,
  578,
  340,
  424,
  143,
  86,
  379,
  201,
  943,
  150,
  106,
  350,
  273,
  166,
  5,
  53,
  172,
  130,
  171,
  152,
  2,
  4,
  139,
  8,
  33,
  7,
  0,
  5,
  29,
  1,
  67,
  0,
  1,
  4,
  6,
  1,
  1,
  3,
  2,
  0,
  1,
  0,
  0,
  1,
  11,
  0,
  1,
  2,
  126,
  1,
  3,
  6,
  113,
  27,
  0,
  0,
  0,
  0,
  2],
 '20': [28,
  169,
  120,
  178,
  106,
  118,
  208,
  295,
  145,
  145,
  149,
  86,
  88,
  358,
  379,
  319,
  92,
  98,
  255,
  100,
  380,
  73,
  97,
  255,
  129,
  102,
  4,
  44,
  63,
  52,
  136,
  70,
  1,
  1,
  79,
  7,
  21,
  3,
  0,
  0,
  8,
  2,
  41,
  0,
  0,
  5,
  4,
  2,
  0,
  1,
  0,
  1,
  1,
  1,
  0,
  2,
  1,
  2,
  3,
  1,
  74,
  0,
  1,
  0,
  63,
  28,
  0,
  0,
  0,
  0,
  1],
 '22': [30,
  48,
  57,
  56,
  50,
  25,
  67,
  108,
  46,
  145,
  22,
  23,
  60,
  114,
  157,
  101,
  69,
  34,
  70,
  36,
  162,
  32,
  85,
  99,
  44,
  77,
  1,
  23,
  27,
  22,
  80,
  42,
  0,
  0,
  42,
  1,
  11,
  0,
  2,
  0,
  0,
  0,
  2,
  0,
  0,
  1,
  1,
  1,
  0,
  0,
  0,
  0,
  2,
  0,
  0,
  1,
  0,
  1,
  2,
  2,
  34,
  2,
  0,
  0,
  46,
  22,
  0,
  0,
  0,
  0,
  0],
 '04': [0,
  5,
  0,
  1,
  1,
  0,
  0,
  10,
  30,
  2,
  8,
  3,
  8,
  0,
  3,
  2,
  105,
  18,
  24,
  3,
  2,
  7,
  1,
  2,
  3,
  4,
  0,
  1,
  2,
  0,
  1,
  3,
  0,
  0,
  2,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  0],
 '05': [2,
  29,
  5,
  16,
  2,
  1,
  13,
  7,
  12,
  12,
  160,
  45,
  2,
  21,
  3,
  23,
  334,
  17,
  26,
  47,
  26,
  16,
  35,
  10,
  212,
  17,
  0,
  15,
  1,
  0,
  34,
  3,
  0,
  0,
  3,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  5,
  0,
  0,
  0,
  10,
  3,
  0,
  0,
  0,
  0,
  0],
 '06': [12,
  401,
  72,
  174,
  79,
  11,
  59,
  55,
  35,
  276,
  110,
  27,
  66,
  146,
  118,
  20,
  213,
  61,
  217,
  241,
  73,
  151,
  85,
  121,
  108,
  109,
  2,
  55,
  7,
  7,
  79,
  34,
  0,
  0,
  11,
  1,
  1,
  1,
  0,
  0,
  0,
  0,
  4,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  31,
  0,
  4,
  1,
  0,
  0,
  0,
  0,
  21,
  0,
  0,
  0,
  5,
  9,
  0,
  0,
  0,
  0,
  0],
 '07': [75,
  450,
  106,
  175,
  149,
  22,
  256,
  124,
  49,
  464,
  403,
  392,
  253,
  699,
  173,
  282,
  835,
  435,
  525,
  372,
  235,
  224,
  249,
  718,
  206,
  282,
  3,
  270,
  77,
  26,
  115,
  52,
  107,
  17,
  26,
  53,
  6,
  11,
  0,
  0,
  0,
  0,
  13,
  1,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  7,
  3,
  1,
  2,
  0,
  0,
  0,
  233,
  2,
  0,
  0,
  26,
  42,
  0,
  0,
  0,
  0,
  0],
 '08': [153,
  625,
  374,
  311,
  225,
  117,
  718,
  441,
  185,
  817,
  1075,
  350,
  642,
  600,
  226,
  391,
  1613,
  961,
  731,
  286,
  483,
  331,
  613,
  956,
  738,
  455,
  38,
  618,
  202,
  53,
  107,
  110,
  310,
  56,
  304,
  283,
  15,
  106,
  0,
  1,
  2,
  0,
  0,
  0,
  0,
  100,
  0,
  0,
  0,
  0,
  1,
  0,
  0,
  1,
  1,
  0,
  4,
  0,
  1,
  1,
  256,
  5,
  0,
  0,
  61,
  182,
  0,
  0,
  0,
  0,
  0],
 '21': [31,
  96,
  84,
  89,
  66,
  68,
  108,
  185,
  85,
  186,
  50,
  37,
  52,
  258,
  328,
  170,
  81,
  77,
  179,
  63,
  236,
  34,
  89,
  154,
  91,
  76,
  6,
  16,
  58,
  39,
  113,
  50,
  1,
  0,
  48,
  2,
  8,
  0,
  0,
  1,
  4,
  0,
  2,
  0,
  0,
  3,
  3,
  0,
  1,
  0,
  0,
  0,
  1,
  0,
  0,
  1,
  1,
  1,
  4,
  0,
  31,
  0,
  0,
  0,
  54,
  31,
  0,
  0,
  0,
  0,
  0],
 '23': [14,
  28,
  29,
  23,
  40,
  14,
  28,
  78,
  19,
  59,
  25,
  9,
  29,
  66,
  78,
  60,
  37,
  19,
  37,
  10,
  85,
  12,
  49,
  42,
  26,
  52,
  0,
  14,
  13,
  12,
  34,
  23,
  0,
  0,
  114,
  1,
  9,
  1,
  2,
  2,
  0,
  0,
  0,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  2,
  0,
  0,
  0,
  1,
  28,
  0,
  0,
  0,
  31,
  14,
  0,
  0,
  0,
  0,
  0],
 '03': [0,
  2,
  1,
  1,
  1,
  0,
  0,
  7,
  1,
  0,
  1,
  0,
  4,
  6,
  2,
  3,
  1,
  3,
  15,
  1,
  5,
  1,
  2,
  5,
  0,
  6,
  0,
  3,
  0,
  0,
  1,
  2,
  0,
  0,
  2,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  2,
  0,
  0,
  0,
  2,
  2,
  0,
  0,
  0,
  0,
  0]}

In [66]:
df = pd.DataFrame(data).T
df.columns = stations

In [68]:
df = df.sort_index()

In [71]:
df.to_csv("..\dataset\data_cleaned_vis3.csv")

In [57]:
pd.concat([sr["00"], pd.Series({"SS": -1})])
# sr["00"]

2nd at Folsom                                    19
2nd at South Park                                 9
2nd at Townsend                                  10
5th at Howard                                    14
Beale at Market                                  11
Broadway St at Battery St                        13
Civic Center BART (7th at Market)                15
Clay at Battery                                  10
Commercial at Montgomery                         39
Davis at Jackson                                  2
Embarcadero at Bryant                            10
Embarcadero at Folsom                             5
Embarcadero at Sansome                           29
Embarcadero at Vallejo                            9
Golden Gate at Polk                              10
Grant Avenue at Columbus Avenue                  21
Harry Bridges Plaza (Ferry Building)             13
Howard at 2nd                                    17
Market at 10th                                   16
Market at 4th                                    36
Market at Sansome                                35
Mechanics Plaza (Market at Battery)              11
Mountain View Caltrain Station                    1
Post at Kearney                                   3
Post at Kearny                                   10
Powell Street BART                               32
Powell at Post (Union Square)                    24
San Francisco Caltrain (Townsend at 4th)         34
San Francisco Caltrain 2 (330 Townsend)          32
San Francisco City Hall                          10
South Van Ness at Market                         14
Spear at Folsom                                   9
Steuart at Market                                24
Temporary Transbay Terminal (Howard at Beale)     9
Townsend at 7th                                  11
Washington at Kearney                             4
Washington at Kearny                              4
Yerba Buena Center of the Arts (3rd @ Howard)    22
SS                                               -1
dtype: int64

In [77]:
df.columns

Index(['San Francisco City Hall', 'Embarcadero at Sansome',
       'Steuart at Market', 'Harry Bridges Plaza (Ferry Building)',
       'Beale at Market', 'Embarcadero at Folsom', '2nd at South Park',
       'Powell Street BART', 'Howard at 2nd', '2nd at Townsend',
       'Embarcadero at Bryant',
       'Temporary Transbay Terminal (Howard at Beale)',
       'Civic Center BART (7th at Market)',
       'San Francisco Caltrain 2 (330 Townsend)', 'Market at 4th',
       'Market at Sansome', 'Grant Avenue at Columbus Avenue',
       'South Van Ness at Market', 'Townsend at 7th', 'Spear at Folsom',
       'San Francisco Caltrain (Townsend at 4th)', 'Davis at Jackson',
       'Powell at Post (Union Square)', 'Market at 10th', '2nd at Folsom',
       '5th at Howard', 'Washington at Kearney', 'Golden Gate at Polk',
       'Mechanics Plaza (Market at Battery)', 'Embarcadero at Vallejo',
       'Yerba Buena Center of the Arts (3rd @ Howard)', 'Clay at Battery',
       'Mountain View Caltrain Station', 'Redwood City Caltrain Station',
       'Commercial at Montgomery', 'San Jose Diridon Caltrain Station',
       'Post at Kearney', 'Palo Alto Caltrain Station',
       'Arena Green / SAP Center', 'Santa Clara at Almaden',
       'Mountain View City Hall', 'St James Park', 'Cowper at University',
       'San Mateo County Center', 'Broadway at Main',
       'San Antonio Caltrain Station', 'Paseo de San Antonio',
       'Adobe on Almaden', 'Rengstorff Avenue / California Street',
       'Castro Street and El Camino Real', 'Redwood City Medical Center',
       'San Salvador at 1st', 'California Ave Caltrain Station',
       'Evelyn Park and Ride', 'SJSU - San Salvador at 9th',
       'San Jose Civic Center', 'San Antonio Shopping Center',
       'San Pedro Square', 'MLK Library', 'Japantown',
       'Broadway St at Battery St', 'University and Emerson',
       'SJSU 4th at San Carlos', 'Park at Olive', 'Post at Kearny',
       'Washington at Kearny', 'San Jose City Hall',
       'Redwood City Public Library', 'Mezes Park',
       'Santa Clara County Civic Center', 'Stanford in Redwood City'],
      dtype='object')

In [81]:
df.max().max()

1613

In [2]:
import json

In [3]:
df = pd.read_csv("../dataset/station.csv")

In [4]:
df.head()

,id,name,lat,long,dock_count,city,installation_date
0,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013
1,3,San Jose Civic Center,37.330698,-121.888979,15,San Jose,8/5/2013
2,4,Santa Clara at Almaden,37.333988,-121.894902,11,San Jose,8/6/2013
3,5,Adobe on Almaden,37.331415,-121.893200,19,San Jose,8/5/2013
4,6,San Pedro Square,37.336721,-121.894074,15,San Jose,8/7/2013

In [5]:
df = df[df.city == "San Francisco"].drop(columns = ['dock_count', 'city', 'installation_date']).reset_index().drop('index', axis=1)

In [6]:
df.rename(columns = {'long': 'x', 'lat': 'y'})[['id', 'name', 'x', 'y']].to_csv("..\dataset\station_cleaned.csv")

In [8]:
df.head()

   id                      name        lat        long
0  41           Clay at Battery  37.795001 -122.399970
1  42          Davis at Jackson  37.797280 -122.398436
2  45  Commercial at Montgomery  37.794231 -122.402923
3  46     Washington at Kearney  37.795425 -122.404767
4  47           Post at Kearney  37.788975 -122.403452

In [9]:
trip = pd.read_csv("../dataset/trip.csv")

In [ ]:
trip

In [26]:
station = df.rename(columns = {'long': 'x', 'lat': 'y'})[['id', 'name', 'x', 'y']]

In [28]:
mapper = {}
for index, row in station.iterrows():
    mapper[row['name']] = [row['x'], row['y']]

In [22]:
trip = pd.read_csv("../dataset/trip.csv")

In [23]:
trip.head()

,id,duration,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code
0,4576,63,8/29/2013 14:13,South Van Ness at Market,66,8/29/2013 14:14,South Van Ness at Market,66,520,Subscriber,94127
1,4607,70,8/29/2013 14:42,San Jose City Hall,10,8/29/2013 14:43,San Jose City Hall,10,661,Subscriber,95138
2,4130,71,8/29/2013 10:16,Mountain View City Hall,27,8/29/2013 10:17,Mountain View City Hall,27,48,Subscriber,97214
3,4251,77,8/29/2013 11:29,San Jose City Hall,10,8/29/2013 11:30,San Jose City Hall,10,26,Subscriber,95060
4,4299,83,8/29/2013 12:02,South Van Ness at Market,66,8/29/2013 12:04,Market at 10th,67,319,Subscriber,94103

In [38]:
out = []
for index, row in trip.iterrows():
    try: 
        source = {'name': row['start_station_name'], 'x': mapper[row['start_station_name']][0], 'y': mapper[row['start_station_name']][1]}
        target = {'name': row['end_station_name'], 'x': mapper[row['end_station_name']][0], 'y': mapper[row['end_station_name']][1] }
        inner = {'source': source, 'target': target}
        out.append(inner)
    except:
        continue

In [41]:
import json

In [ ]:
with open('trip', 'w') as outfile: 
    json.dump(out, outfile)